includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: 8

    paths:
        - app
        - config
        - bootstrap
        - database/factories
        - routes

    ignoreErrors:
        - message: '#Call to an undefined method Faker\\Generator::#'
          identifier: method.notFound
